.App {
  text-align: center;
  background-color: #00203FFF;
  width: auto;
  height: auto;
  min-width: 50vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
article{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top:0;
  height: 15vh;
  border-bottom: solid #ADEFD1FF 3px;
}

li{
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #ADEFD1FF ;
  color: #00203FFF;
}
h1 {
  margin: 0 0 0 30px;
  color:  #ADEFD1FF;
}
h2{
  margin: 30px;
  color:  #ADEFD1FF;
}
h3{
  color: #00203FFF;
}
ul{
  list-style-type: none;
  display: flex;
}
a{
  text-decoration: none;
  margin: 0 30px;
  font-weight: bold;
  color:  #00203FFF;
  font-size: 20px;
}

.post{
  padding: 0 20px;
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  background-color: #ADEFD1FF;
  margin: 10px 0;
  border-radius: 10px;
  border: solid black 2px
}
.singelpost{
  padding: 0 20px;
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  background-color: #ADEFD1FF;
  margin: 10px 0;
  border-radius: 10px;
  border: solid black 2px;
}
.singelpost h2, h3{
  color:#00203FFF;
}

.singelPostMain{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singelPostComments{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment{
  background-color: #00203FFF;
  margin: 20px;
  border-radius: 10px;
  color:#ADEFD1FF;
  padding: 20px;
}

.kommentar{
  padding: 20px;
  border:#ADEFD1FF solid 1px;
}

.hidden{
  display: none;
}



